{% extends 'shared/_layout.html' %}
{% load thumbnail %}


{% block title %}
    تیم
{% endblock %}


{% block content %}
    <div class="preloader preloader-deactivate">
        <div class="content">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
    </div>
    <div class="page-banner-area bg-black bg-img" data-background=".//assets/images/banner-bg-shape.png"
         style="background-image: url(&quot;.//assets/images/banner-bg-shape.png&quot;);">
        <div class="container mw-1680">
            <div class="page-banner-content">
                <h2>تیم</h2>
                <ul class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4">
                    <li><a href="{% url 'home_page' %}">صفحه اصلی</a></li>
                    <li><span class="active">تیم</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="team-area ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                {% for team_user in team_list %}
                    <div class="col-xl-3 col-md-6">
                        <div class="team-single-item style-two">
                            <img src="{{ team_user.image.url }}" class="team-profile" alt="team">
                            <div class="d-flex justify-content-between align-items-center gap-3 flex-wrap">
                                <div class="info">
                                    <h3>{{ team_user.name }}</h3>
                                    <span>{{ team_user.job }}</span>
                                </div>
                                <ul class="ps-0 mb-0 list-unstyled social-link">
                                    <li>
                                        <a href="{{ team_user.whatsapp }}" target="_blank">
                                            <i class="fa-brands fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ team_user.twitter }}" target="_blank">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ team_user.instagram }}" target="_blank">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ team_user.telegram_app }}" target="_blank">
                                            <i class="fa-brands fa-telegram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa-regular fa-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="mb-30"></div>
                <div class="col-md-12">
                    <div class="pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="next page-count hover-style">
                                <div class="inner-border">
                                    <i class="icofont-simple-right"></i>
                                </div>
                            </a>
                        {% endif %}
                        {% for pagNumber in paginator.page_range %}
                            <a href="?page={{ pagNumber }}"
                               class="page-count {% if page_obj.number == pagNumber %} current {% endif %} hover-style"
                               aria-current="page">
                                <div class="inner-border">{{ pagNumber }}</div>
                            </a>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="next page-count hover-style">
                                <div class="inner-border">
                                    <i class="icofont-simple-left"></i>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
