{% extends 'shared/_layout.html' %}
{% load render_partial %}


{% block title %}
	ویرایش کلمه عبور
{% endblock %}


{% block content %}
	<div class="preloader preloader-deactivate">
        <div class="content">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
    </div>
    <div class="page-banner-area bg-black bg-img" data-background=".//assets/images/banner-bg-shape.png"
         style="background-image: url(&quot;.//assets/images/banner-bg-shape.png&quot;);">
        <div class="container mw-1680">
            <div class="page-banner-content">
                <h2>ویرایش کلمه عبور</h2>
                <ul class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4">
                    <li><a href="{% url 'home_page' %}">صفحه اصلی</a></li>
                    <li><span class="active">ویرایش کلمه عبور</span></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
                <img src="/assets/images/panel-pass-change-19kala-1.png" alt="" class="margin-img">
            </div>
            <div class="col-md-8 form-profile">
                <form action="{% url 'change_password' %}" method="post">
                    {% csrf_token %}
                    <h2 class="margin-h2">لطفا اطلاعات زیر را وارد کنید 👇</h2>
                    {{ form.current_password }}
                    {{ form.current_password.errors }}
                    <br>
                    {{ form.password }}
                    {{ form.password.errors }}
                    <br>
                    {{ form.confirm_password }}
                    {{ form.confirm_password.errors }}
                    <br>
                    <button type="submit" class="main-btn col-3 custom-btn2">ثبت</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}
