<ul class="ps-0 mb-0 list-unstyled d-flex align-items-center flex-wrap gap-3 mt-4 mt-md-0">
    <li>
        <div class="dropdown">
            <button class="dropdown-btn">
                فیلتر محصولات
                <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>

            <div class="dropdown-menu dropdown-content">

                <a class="filter custom-a" href="{% url 'products_list' %}">حذف فیلتر ها ⭕</a>
                {% for categories in main_categories %}
                    <a href="{% url 'product_category' category=categories.url_title %}">{{ categories.title }}</a>
                {% endfor %}

            </div>
        </div>
    </li>
</ul>