<link rel="stylesheet" href="/assets/css/bootstrap.rtl.min.css">
<link rel="stylesheet" href="/assets/css/meanmenu.css">
<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/css/icofont.min.css">
<link rel="stylesheet" href="/assets/css/font-awesome-pro.css">
<link rel="stylesheet" href="/assets/css/scrollcue.css">
<link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/responsive.css">
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="icon" type="image/png" href="/assets/images/varesh_icon.png">